{% extends 'dashboard/base.html' %}
{% load staticfiles %}

{% block body_id %}id_dashboard_index{% endblock body_id %}

{%  block dashboard_inner %}
<div class="row">
    <div class="col-sm-3 col-md-2">
        <div class="panel panel-default">
          <div class="panel-heading">Mes amis</div>
                <ul class="list-group">
                	{% if amis %}
                		{% for a in amis %}
		                    <li class="list-group-item"><a href="/dashboard/index/conversation/?friend={{ a.id }}" title="Voir les détails de {{ a.utilisateur.username }}">{{ a.utilisateur.username }}</a></li>
                    	{% endfor %}
                	{% else %}
                		<li class="list-group-item"><a href="#" title="MangeTonTitle">T'as pas d'amis prend un Curly !</a></li>
                	{% endif %}
                </ul>

                  <div class="panel-body">
                      <button type="button" class="btn btn-success btn-block" data-toggle="modal" data-target="#id_add_friend_modal">Ajouter un ami</button>
                  </div>

        </div>
    </div>

    <div class="col-sm-9 col-md-10">
        <div class="row">

            <div class="col-sm-3 col-md-2">
            	<button type="button" class="btn btn-primary" title="Mes messages" onclick="window.location.href='../../messagerie/index/';">Envoyer un message</button>
            </div>
            <div class="col-sm-3 col-md-2"><button type="button" class="btn btn-success" title="Demandes en attente" data-toggle="modal" data-target="#id_waiting_friends_modal">Demandes en attente <span class="badge">{{ nbDemandesMembres }}</span></button></div>
        </div>

        <div class="row" id="id_messages_list_row">
            <div class="col-sm-12">
              <table class="table table-hover">
                  <thead>
                    <tr>
                      <th>Pseudo</th>
                      <th>Date</th>
                      <th>Etat</th>
                    </tr>
                  </thead>

                  <tbody>
                  	{% if messages %}
	                  	{% for message in messages %}
	                    	{% if message.etat %}
	                    		<tr class="success">
	                    	{% else %}
	                    		<tr class="danger" onclick="setModalMessage(this);">
	                    	{% endif %}
		                    	<td><span class="idMsg" style="display:none;">{{ message.id }}</span><span class="destMsg">{{ message.expediteur.utilisateur.username }}</span></td>
			                    <td>{{ message.date }}</td>
			                    <td>
			                    	{% if message.etat %}
			                    		Lu
			                    	{% else %}
			                    		Non lu
			                    	{% endif %}
			                    </td>
	                    	</tr>
	                    {% endfor %}
	                {% else %}
	                	<tr class="warning">
	                		<td colspan="3">Vous n'avez pas encore reçu de message ! =(</td>
	                	</tr>
	                {% endif %}
                  </tbody>
              </table>
            </div>
        </div>
    </div>

<div class="modal fade" id="id_add_friend_modal">
	<form method="POST" action="">
		{% csrf_token %}
	  <div class="modal-dialog">
	    <div class="modal-content">
	      <div class="modal-header">
	        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
	        <h4 class="modal-title">Ajouter un ami</h4>
	      </div>
	      <div class="modal-body">
	      	{{ add_friend_form }}
	      </div>
	      <div class="modal-footer">
	        <button type="submit" name="demandeAjout" class="btn btn-success">Envoyer une demande d'ajout</button>
	      </div>
	    </div><!-- /.modal-content -->
	  </div><!-- /.modal-dialog -->
	</form>
</div><!-- /.modal -->

<div class="modal fade" id="message_modal">
	  <div class="modal-dialog">
	    <div class="modal-content">
	      <div class="modal-header">
	        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
	        <h4 class="modal-title">.</h4>
	      </div>
	      <div class="modal-body">
	      	<textarea rows="10" value="" id="contenuMsg" class="form-control"></textarea>
	      </div>
	      <div class="modal-footer">
	        <button type="button" class="close" data-dismiss="modal" aria-label="Close">Fermer</button>
	      </div>
	    </div><!-- /.modal-content -->
	  </div><!-- /.modal-dialog -->
	</form>
</div><!-- /.modal -->

<div class="modal fade" id="id_waiting_friends_modal">
	<form method="POST" action="">
		{% csrf_token %}
		<div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Demandes d'ajout en attente</h4>
      </div>
      <div class="modal-body">
      	{{ accept_friend_form }}
      </div>
      <div class="modal-footer">
          <input type="submit" name="quoi" class="btn btn-danger" value="Refuser la/les demandes" />
          <input type="submit" name="quoi" class="btn btn-success" value="Accepter la/les demandes" />
      </div>
    </div><!-- /.modal-content -->
	</form>
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<script type="text/javascript">
	function setModalMessage(uneLigne) {
		$(uneLigne).removeClass('danger').addClass('success')
			.children().last().html('Lu');
		$(uneLigne).attr('onclick', '')
		var id = $(uneLigne).find('.idMsg').text();
		var dest = $(uneLigne).find('.destMsg').text();
		$.post('/dashboard/index/chargerMessage', {id:id, csrfmiddlewaretoken:'{{csrf_token}}'}, function(data){
			$('#message_modal').find('.modal-title').text('Message de ' + dest)
			$('#message_modal').find('textarea').text(data.msg)
			$('#message_modal').modal();
			setTimeout(function() {$('#message_modal').modal('hide');}, parseInt(data.duree)*1000);
		});
	}
</script>

{%  endblock dashboard_inner %}