{%  extends 'base.html' %}
{% load staticfiles %}

{% block extrastyles %}<link href="{% static 'css/dashboard.css' %}" rel="stylesheet">{% endblock %}

{% block content %}
<div class="container-fluid">
	<div class="row">
		<div class="col-sm-12">
			<div class="jumbotron">
			  <h1>Messagerie</h1>
			  <p>Tu peux même écrire des messages c'est de la bebom !</p>
			</div>
		</div>
	</div>

    {%  block messagerie_inner %}
    {% endblock messagerie_inner %}
</div>
{% endblock content %}