{% extends 'messagerie/base.html' %}
{% load staticfiles %}

{% block body_id %}id_messagerie_index{% endblock body_id %}

{%  block messagerie_inner %}
<div class="row">
    <div class="col-md-3">
		<button type="button" class="btn btn-primary" title="Mes messages" onclick="window.location.href='../../dashboard/index/';">Mes messages</button>
    </div>
    <div class="col-md-9">
		<h2>Nouveau message</h2>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
		<form method='POST' action ="." >
            {% csrf_token %}
          	{{ send_msg_form.as_p }}
            <div class="col-md-5">   
          		<button type="submit" class="btn btn-primary btn-block btn-lg" name="envoyer">Envoyer</button>
          	</div>
        </form>
    </div>
</div>
        

{%  endblock messagerie_inner %}